{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <!-- ===== ===== Custom Css ===== ===== -->
    <link rel="stylesheet" href="static/css/profile1.css">
    <link rel="stylesheet" href="static/css/responsive1.css">
    <link rel="stylesheet" href="static/css/drop.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <!-- ===== ===== Remix Font Icons Cdn ===== ===== -->
    <link rel="stylesheet" href="fonts/remixicon.css">

</head>

<body>
    <!-- ===== ===== Body Main-Background ===== ===== -->
    <span class="main_bg"></span>


    <!-- ===== ===== Main-Container ===== ===== -->
    <div class="container">

        <!-- ===== ===== Header/Navbar ===== ===== -->

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
              </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">Disabled</a
                    >
                  </li>-->
                </ul>
              </div>
            </div>
          </nav>

        <!-- ===== ===== User Main-Profile ===== ===== -->
        <section class="userProfile card">
            <div class="profile">
                <figure><img src="{% static 'teacher.png' %}" alt="profile" width="250px" height="250px"></figure>
            </div>
        </section>


        <!-- ===== ===== Work & Skills Section ===== ===== -->
        <section class="work_skills card">

            <!-- ===== ===== Work Contaienr ===== ===== -->
            <div class="work">
                <!-- <h1 class="heading">work</h1> -->
                <div>
                    <label for="touch"><span class="drop">Select Year</span></label>
                    <input type="checkbox" id="touch">

                    <ul class="slide">
                        <li>1st Year<a href="{% url 'fy_cdetails' %}"><i class="fa-sharp fa-solid fa-eye icon"></i></a><a href="{% url 'fy_cform' %}"><i class="fa-solid fa-plus icon1 "></i></a></li>

                        <li>2nd Year<a href="{% url 'sy_details' %}"><i class="fa-sharp fa-solid fa-eye icon "></i></a><a href="{% url 'sy_form' %} "><i class="fa-solid fa-plus icon1 "></i></a></li>
                        <li>3rd Year
                            <a href="{% url 'ty_details' %} "> <i class="fa-sharp fa-solid fa-eye icon "></i></a><a href="{% url 'ty_form' %} "><i class="fa-solid fa-plus icon1 "></i></a></li>
                        <li>4rd Year
                            <a href="{% url 'ly_details' %}"> <i class="fa-sharp fa-solid fa-eye icon "></i></a><a href="{% url 'ly_form' %} "><i class="fa-solid fa-plus icon1 "></i></a></li>
                    </ul>

                </div>


            </div>
            </section>


            <!-- ===== ===== User Details Sections ===== ===== -->
            <section class="userDetails card ">
                <div class="userName ">
                    <h1 class="name ">{{data.t_name}}</h1><br>
                    <div class="map ">
                        <i class="ri-map-pin-fill ri "></i>
                        <br>
                        <p><span id="post ">{{data.t_post}}</span></p>
                    </div>
                    <br>
                    <p>Department: {{data.t_branch}}</p>
                </div>




            </section>


            <!-- ===== ===== Timeline & About Sections ===== ===== -->
            <section class="timeline_about card ">
                <div class="tabs ">
                    <ul>


                        <li class="about active ">
                            <i class="ri-user-3-fill ri "></i>
                            <span>About</span>
                        </li>
                    </ul>
                </div>



                <!-- <h1 class="heading ">Contact Information</h1> -->
                <ul>
                    <!-- <li class="Date of Birth ">
                        <h1 class="label ">Date of Birth:</h1>
                        <span class="info "> </span>
                    </li>
                    <br> -->


                    <li class="Qualification ">
                        <h1 class="label space ">Qualification:&nbsp; &nbsp; {{data.t_Occupation}}</h1>
                        <!-- <div class="info ">M.tech CSE </div> -->
                    </li>


                    <li class="email ">
                        <h1 class="label space ">E-mail:&nbsp; &nbsp; {{data.t_mail}}</h1>
                        <!-- <span class="info ">aprupa.pawar@walchandsangli.ac.in</span> -->
                    </li>






                    <li class="Contact ">
                        <span class="number space ">Contact Number:&nbsp; &nbsp; {{data.t_phno}}</span>
                        <!-- <h1 class="label "> </h1> -->
                    </li>
                </ul>
                <div class="basic_info ">
                    <!-- <h1 class="heading ">Basic Information</h1> -->
                    <ul>
                        <!-- <li class="birthday ">
                            <h1 class="label ">Birthday:</h1>
                            <span class="info "></span>
                        </li> -->

                        <li class="sex ">
                            <span class="label "><strong>Gender:</strong> </span>
                            <span class="info ">{{data.t_Gender}}</span>
                        </li>
                    </ul>
                </div>

            </section>
    </div>

</body>
<script src="static/js/index2.js "></script>

</html>