ul {
    list-style-type: none;
    font-weight: bold;
    font-size: 20px;
}

.dropdown {
    position: relative;
    margin-top: 10px;
    width: 300px;
    height: 50px;
}

.dropdown::before {
    content: '';
    position: absolute;
    right: 20px;
    top: 1px;
    z-index: 10000;
    width: 8px;
    height: 8px;
    border: 2px solid #333;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
}

.dropdown input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    cursor: pointer;
    background: #fff;
    border: none;
    outline: none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    padding: 12px 20px;
    border-radius: 10px;
}

.dropdown .option {
    position: absolute;
    top: 70px;
    width: 100px;
    background: #fff;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
    display: none;
}

.dropdown .option div {
    padding: 12px 20px;
    cursor: pointer;
}

.dropdown .option div:hover {
    background: #62baea;
    color: #fff;
}

li a {
    text-decoration: none;
    color: #2d2f31;
}

nav {
    width: 300px;
    background: #d9d9d9;
    margin: 40px auto;
}

.drop {
    margin-left: 0%;
    margin-right: auto;
    padding: 19px;
    background: #2d2f31;
    color: white;
    font-size: 1.2em;
    font-variant: small-caps;
    cursor: pointer;
    display: block;
    width: 80%;
}


/* .drop::after {
    float: right;
    right: 10%;
    content: "+";
  } */


/* .slide { */


/* clear: both; */


/* width: 168%; */


/* height: 0px; */


/* overflow: hidden; */


/* text-align: center; */


/* transition: height .4s ease; */


/* } */

.slide li {
    padding: 30px;
}

#touch {
    position: absolute;
    opacity: 0;
    height: 0px;
}


/* 
  #touch:checked+.slide {
    height: 300px;
  } */

.icon {
    float: right;
    margin-right: 42px;
}

.icon1 {
    float: right;
    margin-right: 42px;
}